<div class="container">
  <div class="p-2">
    You are viewing search results for: <%= @param_s %>
  </div>

  <div class="d-flex justify-content-between py-3">
    <div class="p-2"> <span class="heading">Select Filters</span></div>
    <div class=""> 18,511 jobs found</div>
    <div class="">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
     </div>

  </div>

  <div class="">
    <div class="row mb-4">
      <div class="col-4">

        <%= search_form_for @search, url: result_path do |f| %>
        <div class="card p-2">

          


            <div class="form-group p-2">
              <label for="formGroupExampleInput">Location or Postcode</label>
              <input type="text" class="form-control" placeholder="First name">
            </div>

           <div class="p-2">
            <form>
              <div class="form-group">
                <label for="formControlRange"> <h6>Salary Range</h6></label>
                <input type="range" class="form-control-range" id="formControlRange">
              </div>
            </form>
           </div>
          <div class=" p-2">
            <h6>Job Type</h6>


            </div>
            <div class="form-group">
              <%= f.select :job_type_cont,[['Full Time','Full Time'],['Part Time','Part Time'],['Permanent','Permanent']],{:include_blank => 'All....'},class:"form-control",id:"bed_room" %>
            </div>




            <div class="p-2">
             <%= f.submit 'Filter',class:"btn btn-success btn-block" %>
            </div>
        </div>

        <%end %>
      </div>
      <div class="col">

      <%= render partial: "jobs/job",locals: {jobs_search: @arrjob}%>

      </div>
    </div>
  </div>
</div>
