<div class="nested-fields-2 p-2">

  <div class="row">
    <div class="col">

      <%= f.label :certificate_obtained %>
      <%= f.text_field :certificate_obtained,class:"form-control"%>
    </div>
    <div class="col">

      <%= f.label :date_obtained %>
      <%= f.date_field :date_obtained,class:"form-control" %>
    </div>
  </div>




  <%= link_to_remove_association "remove" , f %>


</div>
