<div class="container py-3 my-4">
  <div class="card p-4">

    <%= form_for @profile, url: {action: "update"} do |f| %>

    <div class="form-group p-">
      <%= f.label :title %>
      <%= f.select :title,[['Mr','Mr'],['Mrs','Mrs']],{ include_blank: false }, class:"custom-select" %>
    </div>
    <div class="form-group">
      <%= f.label :family_name %>
      <%= f.text_field :first_name,class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address,class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code,class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone,class:"form-control" %>
    </div>


    <div class="card ">
      <div class="card-header text-center text-white bg-dark"><h5>Employment History</h5> </div>

      <div class="p-2">
        <div class="row">

          <%= f.fields_for :employment_historie do |f| %>
          <div class="col">
            <div class="form-group">
              <%= f.label :employer %>
              <%= f.text_field :employer,class:"form-control"%>
            </div>
          </div>
            <div class="col">

              <div class="form-group">
                <%= f.label :job_title %>
                <%= f.text_field :job_title,class:"form-control"%>
              </div>
            </div>
            <div class="col-2">

              <div class="form-group">
                <%= f.label :start_date %>
                <%= f.date_field :start_date, class:"form-control"%>
              </div>
            </div>
            <div class="col-2">

              <div class="form-group">
                <%= f.label :end_date %>
                <%= f.date_field :end_date, class:"form-control"%>
              </div>
            </div>
            <div class="col">

              <div class="form-group">
                <%= f.label :reason_for_leaving %>
                <%= f.text_field :left_bco, class:"form-control"%>
              </div>
            </div>

            <div class="col-1 d-flex align-items-center">
              <i class="fa fa-plus-circle fa-2x blue"></i>


            </div>

          <%end %>
        </div>
      </div>

      </div>


     <%= f.submit %>
      <%end %>
  </div>
</div>
